@import '../../../styles/variables';

span {
    color: rgb(255, 255, 255);
}

a {
    color: $light-grey;
    margin-left: 3em;

    &.active {            // SASS function on the active class for links
        color: $gold;
    }
}
