/* You can add global styles to this file, and also import other style files */

@import 'variables';
@import '../../node_modules/bootstrap/scss/bootstrap';

body {
    color: $secondary;
}

button {
    width: 100%;
}

.navbar {
    height: 80px;
}


.container {
    height: calc(100vh - 80px) !important;
}