/* You can add global styles to this file, and also import other style files */

@import 'variables';
@import '../../node_modules/bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css?family=Ubuntu');

body {
    color: $secondary;
    font-family: 'Share Tech Mono', monospace;
}

button {
    width: 100%;

    &.btn {
        border-radius: 0;
        &:focus {
            box-shadow: none;
        }
    }
}

.container-wrapper {
    height: calc(100vh - 80px) !important;
}

.navbar {
    height: 80px;
}


#logo {
    width: 100px;
}