/* You can add global styles to this file, and also import other style files */

@import 'variables';
@import '../../node_modules/bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css?family=Ubuntu');


@font-face {
    font-family: ShareTechMono;
    src: (assets/fonts/ShareTechMono-Regular) format("opentype");
  }

body {
    color: $secondary;
    font-family: ShareTechMono;
}

button {
    width: 100%;
}


.container {
    height: calc(100vh - 80px) !important;
}

.navbar {
    height: 80px;
}