
// COLORS
$primary: #e7791f;
$secondary: #000000;
$gold: rgb(255, 166, 0);
$light-grey: #efefef;
$grey: darken($light-grey, 30%);  // sass built in functionality | darken
$black: #1d2731;



$navbar-height: 80px;